:root {
  --body-background: #010118;
  --card-color: #00000c;
  --button-bgcolor: #02bfcb;
  --button-color: rgb(8, 0, 0);
}
html {
  font-size: 62.5%;
}
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: var(--body-background);
}
h1,
h2,
h3 {
  margin: 0;
  font-size: 1.8rem;
}
.p1 {
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 2.5;
  }
  .p1 {
    font-size: 1.8rem;
  }
}

a[href] {
  text-decoration: none;
  color: var(--button-color);
}
.main {
  width: 100%;
  height: 100%;
}
.grid-1x2 {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 460px) {
  .grid-1x2 {
    grid-template-columns: repeat(3, 0.5fr);
  }
}
.card {
  font-size: 1.1rem;
  width: 80%;
  background-color: var(--card-color);
  display: grid;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 1px #02bfcb;
  transition: all 0.5s;
  padding: 1rem 0;
  margin: 1rem 0;
}
.card:hover {
  transform: scale(1.03);
}
.upper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 1rem;
}
.images {
  width: 80%;
  height: 100%;
  border: 2px solid #02bfcb;
  border-radius: 100%;
}
@media screen and (min-width: 768px) {
  .images {
    width: 80%;
  }
}

.submit {
  cursor: pointer;
  font-weight: 700;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.2rem;
  background-color: var(--button-bgcolor);
  border-radius: 5px;
  outline: 0;
  margin-top: 4rem;
  padding: 1rem 0;
  transition: all 0.5s;
  color: black;
  width: 70%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .submit {
    font-size: 1.5rem;
  }
}

.submit:hover {
  background-color: #004f55;
}
/*-----------------------------------2nd page------------------------------------*/
/*------------------------this div is the main div---------------------------------*/
.usersData {
  align-items: center;
  margin: 3vh 0;
  width: 100%;
  height: 80vh;
  transition: all 0.5s;
  border-radius: 10px;
}
.usersData:hover {
  transform: scale(1.02);
}
@media screen and (min-width: 500px) {
  .usersData {
    width: 100%;
    height: 90vh;
  }
}
@media screen and (min-width: 768px) {
  .usersData {
    margin-left: 15rem;
    width: 70%;
    height: 90vh;
  }
}
@media screen and (min-width: 1200px) {
  .usersData {
    margin-left: 18rem;
    width: 75%;
    height: 90vh;
  }
}
/*--------------------------------------------------------*/
.grid-1x3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  padding: 1rem;
}
@media Screen and (min-width: 500px) {
  .grid-1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*------------------------------------------------------------------------------*/
.userimage1 {
  display: flex;
  width: 90%;
  border-radius: 5%;
  background-color: rgb(136, 130, 130);
  height: 80%;
  box-shadow: 0 0 3px 3px #02bfcb;
}
@media Screen and (min-width: 768px) {
  .userimage1 {
    width: 80%;
  }
}
/*-------------------------------------------------------------------------------------*/
/*------------------------------------All data cards---------------------------------------------*/
.userdetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 98%;
  height: 100%;
  color: #fff;
  padding: 1rem;
  background-color: var(--card-color);
  list-style-type: none;
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0 0 5px 1px #02bfcb;
}
.userdetails:hover {
  transform: scale(1.02);
}
.Address {
  margin-top: 1rem;
  padding: 1rem;
  display: grid;
  background-color: var(--card-color);
  grid-template-columns: repeat(2, 1fr);
  width: 98%;
  height: 58%;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #02bfcb;
  transition: all 0.5s;
}
@media screen and (min-width: 500px) {
  .Address {
    margin-top: 0;
  }
}
.Address:hover {
  transform: scale(1.02);
}
.addresslabel {
  font-size: 1.1rem;
  color: #02bfcb;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-shadow: 1px 1px #fff;
}
@media screen and (min-width: 460px) {
  .addresslabel {
    font-size: 1.5rem;
  }
}
@media Screen and (min-width: 768px) {
  .addresslabel {
    font-size: 2rem;
  }
}
.Company {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--card-color);
  box-shadow: 0 0 5px 1px #02bfcb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 98%;
  height: 39%;
  color: #fff;
  transition: all 0.5s;
}
.Company:hover {
  transform: scale(1.02);
}
@media screen and (min-width: 500px) {
  .Company {
    height: 39.5%;
  }
}
/*----------------------------------------------------------------------------------------------------------*/
/*-------------font of the the label and span-----------*/
.details {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
.lab {
  color: #02bfcb;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
@media Screen and (min-width: 768px) {
  .details {
    font-size: 1.1rem;
  }
  .lab {
    font-size: 1.3rem;
  }
}
@media Screen and (min-width: 980px) {
  .details {
    font-size: 1.3rem;
  }
  .lab {
    font-size: 1.5rem;
  }
}
/*-------------------------------------------------------*/
/*----------------------------------Button Data-----------------------------------------------*/
.btndiv {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.submit2 {
  position: relative;
  font-size: 1.2rem;
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  border-radius: 10px;
  outline: 0;
  padding: 1.2rem 0;
  width: 98%;
  transition: transform 0.5s;
  text-align: center;
}
@media screen and (min-width: 460px) {
  .submit2 {
    font-size: 1.5rem;
  }
}
@media Screen and (min-width: 768px) {
  .submit2 {
    font-size: 1.8rem;
  }
}
.submit2:hover {
  transform: scale(1.02);
  background-color: #004f55;
}
.userlab {
  margin-left: 1rem;
}
