:root {
  --body-background: #010118;
  --card-color: #00000c;
  --button-bgcolor: #02bfcb;
  --button-color: rgb(8, 0, 0);
}
html {
  font-size: 62.5%;
}
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: var(--body-background);
}
h1,
h2,
h3 {
  margin: 0;
  font-size: 3.5rem;
}
.p1 {
  font-size: 2rem;
}
a[href] {
  text-decoration: none;
  color: var(--button-color);
}
.grid-1x2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.card {
  width: 55vw;
  height: 75vh;
  background-color: var(--card-color);
  display: grid;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 1px #02bfcb;
  transition: all 0.5s;
  margin: 8rem 1vw;
}
.card:hover {
  transform: scale(1.03);
}
@media screen and (min-width: 450px) {
  .card {
    width: 45vw;
    height: 75vh;
    margin: 8rem 1vw;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 35vw;
    height: 75vh;
    margin: 8rem 1vw;
  }
}
@media screen and (min-width: 980px) {
  .card {
    width: 30vw;
    height: 75vh;
    margin: 8rem 1vw;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 25vw;
    height: 75vh;
    margin: 8rem 1vw;
  }
}
.upper {
  width: 55vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.images {
  height: 25vh;
  border: 2px solid #02bfcb;
  border-radius: 100%;
}
@media screen and (min-width: 450px) {
  .upper {
    width: 45vw;
  }
}
@media screen and (min-width: 768px) {
  .upper {
    width: 35vw;
  }
}
@media screen and (min-width: 980px) {
  .upper {
    width: 30vw;
  }
}
@media screen and (min-width: 1200px) {
  .upper {
    width: 25vw;
  }
}
.submit {
  cursor: pointer;
  font-weight: 700;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.8rem;
  background-color: var(--button-bgcolor);
  border-radius: 5px;
  outline: 0;
  margin-top: 4rem;
  padding: 1rem 5rem;
  transition: all 0.5s;
  color: black;
}
.submit:hover {
  background-color: #004f55;
}
/*-----------------------------------2nd page------------------------------------*/
/*------------------------this div is the main div---------------------------------*/
.usersData {
  margin: 3vh 0.5rem;
  width: 98vw;
  height: 80vh;
  transition: all 0.5s;
  border-radius: 10px;
}
.usersData:hover {
  transform: scale(1.02);
}
@media screen and (min-width: 460px) {
  .usersData {
    width: 95%;
    height: 90vh;
  }
}
@media screen and (min-width: 768px) {
  .usersData {
    margin: 10vh 20vw;
    margin: 7vh 12vw;
    width: 70%;
    height: 90vh;
  }
}
@media screen and (min-width: 1200px) {
  .usersData {
    margin: 10vh 18vw;
    margin: 7vh 12vw;
    width: 75%;
    height: 90vh;
  }
}
/*--------------------------------------------------------*/
.grid-1x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 1rem;
}
/*------------------------------------------------------------------------------*/
.userimage1 {
  display: flex;
  width: 90%;
  border-radius: 5%;
  background-color: rgb(136, 130, 130);
  height: 80%;
  box-shadow: 0 0 3px 3px #02bfcb;
}
@media Screen and (min-width: 768px) {
  .userimage1 {
    width: 80%;
  }
}
/*-------------------------------------------------------------------------------------*/
/*------------------------------------All data cards---------------------------------------------*/
.userdetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  height: 100%;
  color: #fff;
  padding: 1rem;
  background-color: var(--card-color);
  list-style-type: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #02bfcb;
  transition: all 0.5s;
}
.userdetails:hover {
  transform: scale(1.02);
}
.Address {
  padding: 1rem;
  display: grid;
  background-color: var(--card-color);
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 58%;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #02bfcb;
  transition: all 0.5s;
}
.Address:hover {
  transform: scale(1.02);
}
.addresslabel {
  font-size: 1.1rem;
  color: #02bfcb;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-shadow: 2px 1px #fff;
}
@media screen and (min-width: 460px) {
  .addresslabel {
    font-size: 1.5rem;
  }
}
@media Screen and (min-width: 768px) {
  .addresslabel {
    font-size: 2rem;
  }
}
.Company {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--card-color);
  box-shadow: 0 0 5px 1px #02bfcb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 39.5%;
  color: #fff;
  transition: all 0.5s;
}
.Company:hover {
  transform: scale(1.02);
}
/*----------------------------------------------------------------------------------------------------------*/
/*-------------font of the the label and span-----------*/
.details {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
.lab {
  color: #02bfcb;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
@media Screen and (min-width: 768px) {
  .details {
    font-size: 1.3rem;
  }
  .lab {
    font-size: 1.5rem;
  }
}
/*-------------------------------------------------------*/
/*----------------------------------Button Data-----------------------------------------------*/
.btndiv {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.submit2 {
  position: relative;
  font-size: 1.6rem;
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  border-radius: 10px;
  outline: 0;
  padding: 1.2rem 0;
  width: 98%;
  transition: transform 0.5s;
}
.submit2:hover {
  transform: scale(1.02);
  background-color: #004f55;
}
.userlab {
  margin-left: 1rem;
}
